---
layout: default
---


<div class="row">

    {% for post in paginator.posts %}
        <div class="column one-half m-one-whole">
            {% include website.html %}
        </div>
    {% endfor %}
</div>

<div class="row">
    <div class="column one-whole">
        {% include pagination.html %}
    </div>
</div>


