    <header class="header">
        <div class="row">
            <div class="column one-third xs-one-whole">
                <a href="{{ site.url }}" class="logo">
                    <span class="fa fa-heart"></span>
                    {{ site.title }}
                </a>
            </div>

            <div class="column two-thirds xs-one-whole">
                <ul class="nav menu-main">
                    <li><a href="#">All Sites</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">Search</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="subheader">
        <div class="row">
            <div class="column one-whole">
                <div id="categories" class="tab center">
                    <a class="tag" href="#">category link</a>
                </div>
                <div id="search" class="tab">
                    <form class="searchform" action="/search" method="GET">
                        <input class="searchform-field" type="text" name="s" placeholder="Type search and hit enter" value="">
                    </form>
                </div>
            </div>
        </div>
    </div>
