<div class="website">
    <div class="website-preview">
        <a href="{{ post.url }}">
            <img src="/screenshots/{{ post.slug }}.png" alt="{{ post.title }}">
        </a>
    </div>
    <div class="website-content">

        <h4 class="website-title">
            <a href="{{ post.url }}">{{ post.title }}</a>
        </h4>

    </div>

    <ul class="website-actions">
        <li>
            <a href="#" class="js-like btn-like" data-post="#">
                <span class="fa fa-heart"></span>
                <span class="likes-count">0</span>
            </a>
        </li>
        <li>
            <a target="_blank" href="{{ post.website }}">
                <span class="fa fa-link"></span>
                Visit
            </a>
        </li>
    </ul>
</div>
