.footer {
    background: #333;
    color: #fff;
    font-size: .875rem;
    padding: 3rem 1.5rem
}


.menu-footer {
    margin-bottom: .75rem;
}

.menu-footer li {
    display: inline-block;
    margin-right: .75rem;
}

.menu-social li {
    display: inline-block;
    margin-right: .75rem;
    font-size: 1.5rem;
}

.menu-social a {
    border-bottom: 0;
}

.menu-social a:hover .fa-twitter {
    color: #3d9ddd;
}

.menu-social a:hover .fa-rss {
    color: orange;
}


.subfooter {
    background: #212121;
    padding: .75rem 0;
    font-size: 12px;
    color: #aaa;
}

.subfooter p {
    margin-bottom: 0;
}

.footer .tag {
    background: #212121;
}
