<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main id="content" class="container">
        {{ content }}
    </main>

    {% include footer.html %}

  </body>

</html>
